
/*---------------   I D S  ----------------*/


#map {
    height: 400px;
}

#tableContainer {
    margin: 0 auto;
    width: 95%;
}

/*---------------  C L A S E S   ------------*/

.chart {
    margin: 50px 0;
}

.jumbotron {
    background: url("../imgs/7.jpg");
    width: 100%;
    height: auto;
}

.jumbotron h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px #000;
}

.mainContainer {
    margin: 0 auto;
    width: 80%;
}

.mapContainer {
    background-color: red;
}

/*---------------  T A G S   ---------------*/


h2 {
    margin: 25px 0;
}

header img {
    margin-bottom: 50px;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
